asgiref==3.2.10
attrs==19.3.0
awsebcli==3.18.1
bcrypt==3.1.7
blessed==1.17.8
boto3==1.9.96
botocore==1.15.49
cached-property==1.5.1
cement==2.8.2
certifi==2018.10.15
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
dj-database-url==0.5.0
Django==3.0.7
django-crispy==1.8.1
django-crispy-forms==1.9.1
django-heroku==0.3.1
docker==4.2.2
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
future==0.16.0
gunicorn==20.0.4
idna==2.7
jmespath==0.9.3
jsonschema==3.2.0
paramiko==2.7.1
pathspec==0.5.9
Pillow==8.2.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.20
PyNaCl==1.4.0
pyrsistent==0.16.0
python-dateutil==2.8.0
pytz==2020.1
PyYAML==5.3.1
requests==2.20.1
s3transfer==0.2.0
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.1
termcolor==1.1.0
texttable==1.6.2
urllib3==1.24.3
wcwidth==0.1.9
websocket-client==0.57.0
whitenoise==4.1.2